/* Base Style */

body {
    background-color: rgba(0);
    color: black;
}

.header {
    color: purple;
    text-align: center;
}

/* Set element to none for button toggle */
#info {
    display: none;
}


/* Image Control */
.speciesPic {
    height: 40vw;
    width: 40vw;
}