/* Base Style */

body {
    background-color: rgba(0);
    color: black;
    font-family: sans-serif;
}

.title {
    font-size:60px;
    display: flex;
    align-self: flex-start;
}

/* Changes seperate entity styling */
.notgrayscale {
    margin: 0 auto;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}

.grayscale {
    background-image: url(Images/background.jpeg);
    background-color: gray;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin: 10px 0;
}

#buttoncontrol {
    font-size: 1.25em;
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
   

.content {
    margin: 0 4em;
}

#contact {
    text-align: center;
}

#carpetInfo {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

#chemInfo {
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

#hogInfo {
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

#treeInfo {
    background-color: purple;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

#buttoncontrol {
    flex-direction: row;
}

/* Set element to none for button toggle */


#info {
    display: none;
}




/* Image Control */
.speciesPic {
    height: 40vw;
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;;
}

#carpetInfo {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 2;
}

/* Media Query */


@media only screen 
  and (max-width: 480px) {
      body {margin: .5em;}
      #buttoncontrol {
        flex-direction: column;
        font-size: 1em; 
        justify-content: space-between;}
  }

  @media only screen 
  and (max-width: 600px) {
      body {margin: .5em;}
      #buttoncontrol {
        flex-direction: column;
        font-size: 1em;}
  }