/* Base Style */

body {
    background-color: rgba(0);
    color: black;
    font-family: sans-serif;
}

.title {
    font-size:60px;
    display: flex;
    align-self: flex-start;
}

/* Changes seperate entity styling */


/* Removes from grayscale rule*/
.notgrayscale {
    margin: 0 auto;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}

.grayscale {
    background-image: url(Images/background.jpeg);
    background-color: gray;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin: 10px 0;
}

#buttoncontrol {
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap; /* If this is set to nowrap, buttons collapse */
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: purple;

}
   

.content {
    margin: 0 4em;
}

#contact {
    text-align: center;
}



#carpetInfo {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    order: 1;
}

#chemInfo {
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    order: 2;
}

#hogInfo {
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    order: 3;
}

#treeInfo {
    background-color: purple;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    order: 4;
}

/* Set element to none for button toggle */


#info {
    display: none;
    flex-wrap: wrap;
    order: 5;
}




/* Image Control */
.speciesPic {
    height: 40vw;
    width: 40vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;;
}



/* Media Query */


@media only screen 
  and (max-width: 830px) {
      body {margin: .5em;}
      #buttoncontrol {
        display: flex;
        flex-direction: column;
        font-size: 1em; 
        align-content: center;}
  }

  @media only screen 
  and (max-width: 600px) {
      body {margin: .5em;}
      #buttoncontrol {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1em;}
      .navigation {
          flex-direction: column;
      }
      }